
* {
  font-family: 'Oxygen Mono', monospace;

}

body {
  background-color: dodgerblue;
  width: 100vw;
  height: 100vh;

}

/*html {*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*}*/


@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  50% {
    transform: translateY(10px);
  }

  80% {
  transform: translateY(-20px);
}

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  50% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.pokeball {
  animation-name: moveInTop;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.header {
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-in;

}

